<div class="login-container">
  <form (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        email
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="register-link">
      Don't have an account?
      <a routerLink="/register">Register here</a>
    </p>
  </form>
</div>
